:root {
    --title: #576671;
    --subtitle: #000000;
    --subtext: #87949e;
    --alectoColor: #17daa3;
    --hoverColor: #ffff;
    --backS: #edeff1;
}

html {
    font-size: 16px;
    line-height: 30px;
    overflow-x: hidden !important;
}


/* Ogólne style Tytułów */

.background-section {
    background: var(--backS);
}

.header-section {
    display: grid;
    justify-content: space-evenly;
    text-align: center;
    grid-gap: 0;
}

.title {
    color: var(--title);
    font-size: 3.75em;
    font-weight: 200;
    letter-spacing: 1.5px;
}

hr {
    width: 40px;
    height: 2px;
    background: var(--alectoColor);
}

.subtext {
    color: var(--subtext);
    font-size: 1.1em;
    font-weight: 400;
    line-height: 30px;
}

.subtitle {
    color: var(--subtitle);
    font-size: 1.9em;
    font-weight: 400;
    letter-spacing: 0.75px;
}

.btn {
    font-size: 1em;
    display: inline-block;
    text-decoration: none;
    border-radius: 1.5em;
    padding: 0.9em 2.2em;
    transition: all 0.5s ease-in-out;
    letter-spacing: 0.35px;
    font-weight: 700;
}

.btn-fill {
    color: var(--hoverColor);
    background-color: var(--alectoColor);
    border: 2px solid var(--alectoColor);
}

.btn-fill:hover {
    color: var(--alectoColor);
    background-color: var(--hoverColor);
    border: 2px solid var(--alectoColor);
}

/*margin section ##################################################### */

.margin-section-t {
    margin-top: 3em;
}

.margin-section-b {
    margin-bottom: 3em;
}

/* style section #about */

#about .body-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

#about .body-section .one-showcase-about {
    display: flex;
    flex-direction: column;
    text-align: center;
    min-height: 370px;
    justify-content: space-between;
}

#about .body-section .one-showcase-about .showcase-about-header {
    position: relative;
    display: block;
    width: 182px;
    height: 182px;
    border-radius: 50%;
    margin: 0 auto;
    transition: 0.5s ease-in-out;
}

#about .body-section .one-showcase-about .showcase-about-header .fa-background {
    position: absolute;
    width: 182px;
    height: 182px;
    background-color: var(--subtext);
    opacity: 0.20;
    border-radius: 50%;
}

#about .body-section .one-showcase-about .showcase-about-header span {
    text-decoration: none;
    font-size: 3.2em;
    color: var(--subtext);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s ease-in-out;
}

.showcase-about-header:hover {
    background-color: var(--alectoColor);
    cursor: pointer;
}

#about .body-section .one-showcase-about .showcase-about-header:hover span {
    color: var(--hoverColor);
}

/* content section */

.content-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr) !important;
}

/* services section */

#services .body-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
}

.one-showcase-services {
    display: flex;
    justify-content: space-between;
}

.one-showcase-services span {
    font-size: 3em;
    color: var(--alectoColor);
    padding-top: 0.5em;
    padding-right: 1.2em;
}

.one-showcase-services .subtext {
    line-height: 40px;
    padding-top: 20px;
}

/* meet section */

#meet .body-section {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 0px;
}

.one-showcase-meet {
    position: relative;
    min-height: 250px;
}

.one-showcase-meet img {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    transition: .5s ease-in-out;
}

.one-showcase-meet .hover-content-meet {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--alectoColor);
    color: var(--hoverColor);
    justify-content: center;
    align-items: center;
    font-size: 2.1em;
    font-weight: 400;
    letter-spacing: 0.9px;
}

.one-showcase-meet img:hover {
    opacity: 0;
    cursor: pointer;
}

/* pricing section */

#pricing .body-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

#pricing .body-section .one-showcase-pricing {
    background: var(--hoverColor);
}

#pricing .body-section .one-showcase-pricing .content-pricing {
    padding: 2em;
}

#pricing .body-section .top-content-pricing span {
    color: var(--alectoColor);
}

#pricing .body-section .currency {
    font-size: 4.5em !important;
}

#pricing .body-section .price {
    font-size: 3.5em !important;
}

#pricing .body-section .top-content-pricing p {
    opacity: 0.45;
}

#pricing .body-section .bottom-content-pricing p {
    line-height: 48px;
}

#pricing .body-section .footer-content-pricing {
    display: flex;
    justify-content: space-between;
    background-color: var(--alectoColor);
    padding: 1.2em;
    padding-bottom: 0.2em;
    line-height: 20px;
    color: var(--hoverColor);
    font-size: 1.1em;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 5px;
    border: solid 2px var(--alectoColor);
    background-color: var(--alectoColor);
    transition: .5s ease-in-out;
}
#pricing .body-section .footer-content-pricing:hover {
    color: var(--alectoColor);
    background-color: var(--hoverColor);
    border-color: var(--alectoColor);
    cursor: pointer;
}
#map .content-section{
    display: grid;
    grid-template-columns: 50% 50% !important;
}
#map .map-content img{
    width: 100%;
}

/* carusel inner */
.carousel-inner img{
    width: 150px;
    height: 150px; 
}
.carousel-inner h4{
    color: var(--hoverColor);  
    padding: 1em;
}
.carousel-inner p{
    color: var(--hoverColor);  
    opacity: 0.3;
    padding: 1em;
}
#testimonials{
    background: url('img/slider-work.png');
    padding: 90px 0;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    width: 100%;      
}

#testimonials .carousel-indicators{
    bottom: -60px;
} 

#testimonials .carousel-control{        
        background: none;       
}


@media (max-width: 575.98px) {
    #about .body-section, #pricing .body-section {
        grid-template-columns: 1fr !important;
    }
    .one-showcase-services {
        flex-direction: column;
        text-align: center;
    }
    .one-showcase-services span {
        padding-right: 0;
    }
    .one-showcase-meet {
        min-height: 150px;
    }
    
}

/* Small devices (landscape phones, less than 768px)*/

@media (max-width: 767.98px) {
    #about .body-section, #pricing .body-section, #meet .body-section {
        grid-template-columns: repeat(2, 1fr) !important;
    }
    .content-section,
    #services .body-section {
        grid-template-columns: 1fr !important;
    }
    #map .content-section{
        display: grid;
        grid-template-columns: 100% !important;
    }
    
}

/* Medium devices (tablets, less than 992px)*/

@media (max-width: 991.98px) {
    #meet .body-section, #pricing .body-section {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Large devices (desktops, less than 1200px)*/

@media (max-width: 1199.98px) {}